audioread==2.1.4
cycler==0.10.0
Cython==0.25.2
dask==0.12.0
decorator==4.0.10
flake8==3.2.1
h5py==2.6.0
joblib==0.10.3
-e git+https://github.com/librosa/librosa.git@01951000f20105ef31a4f80e897cd41c386b9314#egg=librosa
matplotlib==1.5.3
mccabe==0.5.2
networkx==1.11
numpy==1.11.2
Pillow==3.4.2
protobuf==3.1.0
pycodestyle==2.2.0
pyflakes==1.3.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
resampy==0.1.4
scikit-image==0.12.3
scikit-learn==0.18.1
scipy==0.18.1
six==1.10.0
tensorflow==0.12.0rc1
tflearn==0.2.2
toolz==0.8.1
